.game-items {
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;

    .odds {
      display: flex;
      div {
        margin-left: 30px;
      }
    }
  }
}

.game-item {
  &:hover {
    background-color: #ebebeb;
  }
}

@media (max-width: 576px) {
  .addGameInputs {
    display: flex;
    flex-direction: column;
  }

  .adminGamesControls {
    button {
      display: flex;
      flex-direction: column;
    }
  }
}
